body {
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: solid 1px red;
}

.conteiner {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-family: Roboto;
}

.list {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  color: #212121;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  color: black;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo--accent {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.logo--contrast {
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  color: #ffffff;
  background-color: #2196f3;
}

.form-field {
  position: relative;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field__input:focus + .form-field__icon {
  fill: #2196f3;
}

.form-field__input {
  margin-bottom: 10px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus {
  border: 1px solid #2196f3;
}

.form-field__icon {
  position: absolute;
  bottom: 12px;
  left: 12px;
  transform: translateY(-9px);
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__comments {
  margin-bottom: 10px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__comments:focus {
  border: 1px solid #2196f3;
}

.form-field__check {
  padding-left: 10px;
}

.agree {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agree:checked + .agree__icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/svg/agree.svg);
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

.agree__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 8.38px;
}

.agree__text {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.agree__link {
  color: #2196f3;
}

.button--submit {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--submit:hover, .button--submit:focus {
  background-color: #188ce8;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item {
  display: inline-flex;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.social-list__icon {
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .backdrop {
    padding: 93px 15px 94px 15px;
    overflow-y: scroll;
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px 40px;
  background-color: #ffffff;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  margin-left: auto;
  padding: 0px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: inherit;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: black;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 480px) {
  .menu-button {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    display: inline-flex;
    background-color: transparent;
    border: none;
    z-index: 11111111;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open .menu-button {
    position: fixed;
  }
  .menu-button:hover,
  .menu-button:focus {
    fill: #2196f3;
  }
  .icon-close {
    display: none;
  }
  .is-open .icon-close {
    display: block;
  }
  .is-open .icon-menu {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    padding: 48px 40px;
  }
  .mobile-menu.is-open {
    left: 0;
    z-index: 1111;
    overflow-y: scroll;
  }
  .mobile-menu__navigation-list {
    margin-bottom: 302px;
  }
  .mobile-menu__navigation-item {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__navigation-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__navigation-item:hover,
  .mobile-menu__navigation-item:focus {
    color: #2196f3;
  }
  .mobile-menu__addres-item {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: inherit;
  }
  .mobile-menu__addres-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__addres-list {
    margin-bottom: 64px;
  }
  .mobil-menu__sotial-list {
    display: flex;
  }
  .mobil-menu__sotial-item:not(:last-child) {
    margin-right: 20px;
  }
  .mobil-menu__sotial-item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (min-width: 481px) {
  .mobile-menu {
    display: none;
  }
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-navigation {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767.68px) {
  .site-navigation__content {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-navigation__content {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    font-style: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-right: auto;
  }
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  position: relative;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation-list__link {
    padding: 32px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list__link {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.navigation-list__link:hover, .navigation-list__link:focus {
  color: #2196f3;
}

.navigation-list__link--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .addres-list {
    display: flex;
    margin-left: 250px;
  }
}

.addres-list__link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .addres-list__link {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .addres-list__link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .addres-list__link {
    font-size: 14px;
  }
}

.addres-list__link:hover, .addres-list__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .addres-list__link:nth-child(1) {
    margin-left: 30px;
  }
}

.envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .envelope-icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .smartphone-icon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

.addres-list__link:focus .envelope-icon,
.addres-list__link:hover .envelope-icon {
  fill: #2196f3;
}

.addres-list__link:focus .smartphone-icon,
.addres-list__link:hover .smartphone-icon {
  fill: #2196f3;
}

.page-header {
  border-bottom: solid 1px #ececec;
}

@media screen and (max-width: 480px) {
  .page-header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    margin-left: auto;
    margin-right: auto;
  }
}

.logo--head-position {
  display: block;
}

@media screen and (min-width: 768px) {
  .logo--head-position {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--head-position {
    margin-right: 93px;
  }
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img.hero.jpg);
}

@media screen and (max-width: 480px) {
  .hero-section {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero-section__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .hero-section__title {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-section__button {
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__button:hover, .hero-section__button:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.advantages-section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

@media screen and (min-width: 480px) {
  .advantages-list {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    flex-wrap: nowrap;
  }
}

.advantages-list__item::before {
  content: '';
  display: flex;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

@media screen and (min-width: 480px) {
  .advantages-list__item {
    width: calc((100% - 30px * 1) / 1);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    width: calc((100% - 30px * 2) / 2);
  }
}

.advantages-list__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .advantages-list__title {
    text-align: start;
  }
}

.advantages-list__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.antenna-icon::before {
  background-image: url("../images/svg/antenna.svg");
}

.clock-icon::before {
  background-image: url("../images/svg/clock.svg");
}

.diagram-icon::before {
  background-image: url("../images/svg/diagram.svg");
}

.astronaut-icon::before {
  background-image: url("../images/svg/astronaut.svg");
}

@media screen and (max-width: 1199.98px) {
  .work-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-section {
    padding-bottom: 94px;
  }
  .work-section__list {
    display: flex;
    justify-content: space-between;
  }
  .work-section__item {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .work-section__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.team-section {
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.employee {
  padding-bottom: 30px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee__position {
  font-size: 16px;
  line-height: 1.18;
  margin: 0px;
}

.employee__content {
  padding-top: 30px;
  padding-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .employee {
    width: calc((100% - 30px * 1) / 1);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .employee {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .employee {
    width: calc((100% - 30px * 4) / 4);
  }
}

.employee__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin: 0;
  margin-bottom: 10px;
}

.employee__img {
  margin-left: auto;
  margin-right: auto;
}

.clients-section__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients-section__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.clients-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  color: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section__link:hover, .clients-section__link:focus {
  border: 1px solid #2196f3;
}

.clients-section__link:hover .clients-section__icon,
.clients-section__link:focus .clients-section__icon {
  fill: #2196f3;
}

.clients-section__item {
  width: calc((100% - 30px * 2) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-section__item {
    width: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-section__item {
    width: calc((100% - 30px * 6) / 6);
  }
}

.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .logo--footer-position {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--footer-position {
    text-align: start;
  }
}

.location__list {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .location__list {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .location__list {
    text-align: start;
  }
}

@media screen and (min-width: 480px) {
  .footer-section__column {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section__column--position {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section__grid {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .footer-section__column--mobile-position {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-section__column--tablet {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section__column--desktop:not(:last-child) {
    margin-right: 70px;
  }
}

@media screen and (min-width: 480px) {
  .location__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.location__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location__link:hover, .location__link:focus {
  color: #188ce8;
}

.location__address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location__address:hover, .location__address:focus {
  color: #188ce8;
}

.footer-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .footer-section__title {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section__form {
    display: flex;
  }
}

.footer-section__input {
  padding: 15px 16px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2f303a;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section__input:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 480px) {
  .footer-section__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-section__button {
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section__button:focus, .footer-section__button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
}

@media screen and (max-width: 480px) {
  .footer-section__form {
    text-align: center;
  }
}

.footer-section__icon {
  margin-left: 10px;
  fill: currentColor;
}

.filtr-section__list {
  display: flex;
}

@media screen and (max-width: 480px) {
  .filtr-section__list {
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filtr-section__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filtr-section__list {
    margin-bottom: 50px;
  }
}

.filtr-section__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 480px) {
  .filtr-section__item {
    margin-bottom: 15px;
  }
  .filtr-section__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}

.filtr-section__button {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-section__button:hover, .filtr-section__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.page-filter {
  display: flex;
  flex-wrap: wrap;
  font-family: inherit;
  margin: -15px;
}

.page-filter__item {
  width: calc((100% - 30px * 1) / 1);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .page-filter__item {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .page-filter__item {
    width: calc((100% - 30px * 3) / 3);
  }
}

.card {
  transition: box-shaddow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__content {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__filtr {
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 0px;
  color: #757575;
}

.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.card__img {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-filter__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
}

.page-filter__link:hover .card,
.page-filter__link:focus .card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.page-filter__link:hover .card__overlay,
.page-filter__link:focus .card__overlay {
  transform: translateY(-100%);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */