.logo {
  color: black;
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  &--accent {
    color: $accent-color;
  }
  }
  
.logo--contrast {
  color: $complementary-color;
}
