body {
  color: $main-text-color;
  background-color: $complementary-color;
  font-family: $main-font-famly;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: solid 1px red;
}
.conteiner {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-family: Roboto;
}
.list {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.title {
  color: $title-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1,17;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;


@media screen and (max-width: 1199.98px) {  
    margin-bottom: 30px;
  }
@media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
